.header{
    height: 80px;
    background-color: #1c2b35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: rgb(182, 121, 7);
    
}

.active{
    background-color: darkgrey;
    color: white;
    border: 2px;
    border-radius: 3px;
    padding: 5px;
}